<section class="mt-5">
    <table class=" table table-md mt-2 w-full ">
        <thead>
            <tr>
                <th>#</th>
                <th>Vehiculo Placa</th>
                <th>Espacio</th>
                <th>Fecha de ingreso</th>
                <th>Mas  detalle</th>
            </tr>
        </thead>
        <tbody>
             @for (ticket of elements(); track ticket.id; let index =$index) {
                <tr>
                    <td>{{index+1}}</td>
                    <td>
                        {{ticket.vehiculoPlaca}}
                    </td>
                    <td>{{ticket.espacioNumero}}</td>
                    <td>
                        {{ticket.fechaIngreso}}
                    </td>
                        {{ticket.estadoTicket}}
                    <td>
                        <a 
                        class="link-primary cursor-pointer">Mas informacion
                            
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>